<%= form_for @visit do |f| %>

    <%= f.label :threat %>
    <%= f.number_field :threat %>

    <%= f.label :advice %>
    <%= f.number_field :advice %>

    <%= f.submit (@visit.new_record? ? "Create" : "Update") %>

<% end %>

<div class="container">

	<h2>Was there any threat?</h2>

  <ul>
  <li>
    <input type="radio" id="f-option" name="selector">
    <label for="f-option">Yes</label>

    <div class="check"></div>
  </li>

  <li>
    <input type="radio" id="s-option" name="selector">
    <label for="s-option">No</label>

    <div class="check"><div class="inside"></div></div>
  </li>


</ul>
</div>
